html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html,body{
    height: 100%;
}

body{
    background: #E6F5E0;
}

.container{
    height: 100%;
    padding: 0 15%;
}

.base-part{
    width: 70%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .base-part{
        width: 100%;
    }
}

.sticky{
    position: fixed;
    top: 0;
    
}

#header{
    width: 100%;
    left: 0;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #header{
        display: flex;
        justify-content: center;
    }
}

#logo-img{
    height: 70px;
    width: 245px;
    padding: 10px 0px;
    padding-left: 15%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #logo-img{
        padding-left: 0;
    }
}

#nav-bar-parent{
    position: fixed;
    width: 100%;
    background :white;
    padding-top: 1.5rem;
    margin-top: 90px;
    left: 0;
    padding: 0% 15%;
    height: 4rem;
}

#nav-bar-custom{
    margin: 0;
    height: 2.5rem;
    color: white;
    padding-top: 1.5rem;
    margin-top: 90px;
    background-color:  #E63946 ;
    border-radius: 15px 15px 0px 0px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #nav-bar-custom{
        left: 0;
    }
}

#nav-bar-custom>div{
    height: 102%;
    margin: -24px 0px 0px 0px;
    /* width: 100%; */
    display: flex;
    flex: auto;
    /* align-items: center; */
    /* grid-template-columns: repeat(auto-fill, minmax(80px,110px)); */
    /* margin-left: 20px; */
    /* padding-bottom: .5rem; */
}

.nav-element{
    width: fit-content;
    padding: 23px 10px 0px 10px;
    height: 100%;
    background-color:  #E63946 ;
    /* border: 10px;
    border-color: black; */
    cursor: pointer;
}

.nav-element:hover{
    background-color: #457B9D;
}

#first{
    border-radius: 15px 0px 0px 0px;
    padding-left: 20px;
}

/* #nav-bar-custom>div>#last{
    grid-column: -1/-1;
    margin-right: 60px;
} */

#body-dummy{
    height: 90px;
}

#body{
    width: 100%;
    margin-top: 2.5rem;
    background: rgb(142,225,215);
    background: linear-gradient(0deg, rgba(142,225,215,1) 0%, rgba(142,174,225,1) 96%);
    height: 45%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#body>#cover{
    font-size: 40px;
}

#projectGrid{
    width: 100%;
    background: #F3FAF0;
    /* background: rgb(247,188,141);
    background: linear-gradient(0deg, rgba(247,188,141,1) 0%, rgba(139,34,45,1) 54%, rgba(175,0,0,1) 100%); */
    height: fit-content;
    color: white;
}

#projects{
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.project{
    background-color: white;
    margin: 40px;
    border-radius: 10px;
    padding: 60px;
}

.project-images{
    width: 100%;
}

#footer{
    width: 100%;
    background-color: #E24D28;
    margin: 0;
    height: 2rem;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
}